<!DOCTYPE html>
<html lang=en>
	<head>
	  <title>FOSS</title>
	  <link rel='stylesheet' type='text/css' href='/static/style.css'>
	  <meta charset='utf-8'>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>bpsite.xyz</h1>

		<hr />

		<ul class='links'>
		  <li><a href='/'>Home</a></li>
		  <li><a href='/aboutme'>About Me</a></li>
		  <li><a href='/projects'>Projects</a></li>
		  <li><a href='/usefulinfo'>Useful Information</a></li>
		  <li><a href='/workout'>Work.o</a></li>
		</ul>

		<hr />
		
		<p>
		Hello, my name is Branden Pavon. I am currently attending college(probably). Interested in a variety of tech topics --> Web Design, Front End Development, OsDev, Server Adminstration, Back End Development, Userspace Development, etc.
		</p>

		<pre>
		
                   '                      
                  'o'                     
                 'ooo'                    OS: Artix Linux x86_64
                'ooxoo'                   WM: dwm
               'ooxxxoo'                  Theme: Adwaita [GTK2]
              'oookkxxoo'                 Icons: Adwaita [GTK2]
             'oiioxkkxxoo'                Terminal: st
            ':;:iiiioxxxoo'               Terminal Font: mono
               `'.;::ioxxoo'              Shell: zsh
          '-.      `':;jiooo'             
         'oooio-..     `'i:io'            
        'ooooxxxxoio:,.   `'-;'           
       'ooooxxxxxkkxoooIi:-.  `'          
      'ooooxxxxxkkkkxoiiiiiji'            
     'ooooxxxxxkxxoiiii:'`     .i'        
    'ooooxxxxxoi:::'`       .;ioxo'      
   'ooooxooi::'`         .:iiixkxxo'     
  'ooooi:'`                `'';ioxxo'
 'i:'`                          '':io'
'`                                   `'

		</pre>
		
		<p>
			Currently, use Artix as my main distribution. I would use Gentoo but I have to get work done and can not wait for gcc to take 2 hours to compile or any other packages. I have used Gentoo before and love the customizability. I do like OpenRC as my init system so chose Artix over Arch. Debian is also good. Currently looking at OpenBSD as a hobby OS but we'll see.
		</p>
		
		<hr />

		<ul class='links'>
		  <li><a href='/contact'>Contact</a></li>
		</ul>

	</body>
</html>
