<!DOCTYPE html>
<html lang=en>
	<head>
	  <title>BP</title>
	  <link rel='stylesheet' type='text/css' href='/static/style.css'>
	  <meta charset='utf-8'>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
      <h1>bpsite.xyz: Branden Pavon</h1>

		<ul class='links'>
		  <li><a href='/'>Home</a></li>
		  <li><a href='https://www.linkedin.com/in/branden-pavon-21a4702b3/'>Linkedin</a></li>
          <li><a href='https://github.com/BrandenPavon'>Github</a></li>
		  <li><a href='/projects'>Projects</a></li>
		</ul>

        <p>  </p>
		<hr />
        <ul class='links'>
          <li><p><b>Overview</b></p></li>
		</ul>
		<p>
			Hello! 
		</p>
        <p>
        This is my personal portfolio website. It is run on a personal VPS with a bought domain. I use this site to host my project showcases. Look at my <a href='https://smabacktest.bpsite.xyz'>SMA backtest Showcase!</a>
        </p>
        <p>
        I am passionate about systems programming, infrastructure, and quantitative finance, and I enjoy building software that interacts closely with operating systems, networks, and hardware. My academic interests include operating systems, kernel development, networking, and performance-oriented software design. Outside of work, I build systems-focused software projects that emphasize performance, networking, and real-time data processing. I also maintain a personal Linux homelab where I deploy and manage self-hosted services using technologies such as NGINX, WireGuard, Cloudflare, and Fail2Ban.
        </p>
		<hr />


        <ul class='links'>
          <li><p><b>Services</b></p></li>
        </ul>

        <div class="projects-grid">

          <div class="project-card">
            <p><b><a href='https://github.com/BrandenPavon/Cache-Latency-Profiling-Server'>Cache Latency Profiling HTTP Server (C)</a></b></p>
            <img src="/static/cachevisual.png" alt="Cache Latency">
            <p>This project built a lightweight HTTP/1.1 server in C using Linux socket programming, implemented concurrent client handling to support multiple connections, optimized file I/O and memory management to minimize latency, and exposed HTTP endpoints that run benchmarks to measure L1, L2, and L3 cache latency.</p>
          </div>

          <div class="project-card">
            <p><b><a href='https://github.com/BrandenPavon/Rolling_SharpeRatio'>Rolling Sharpe Ratio Engine (C++)</a></b></p>
            <img src="/static/sr.png" alt="Sharpe Ratio">
            <p>This project developed a low-latency C++ engine that streams live ETF data to compute rolling Sharpe Ratios across 1m, 5m, and 10m intervals, calculates volatility and returns in real time, and visualizes the results through a custom Linux socket-based HTTP server with documented development and version history on GitHub.</p>
          </div>

          <div class="project-card">
            <p><b><a href='https://github.com/BrandenPavon/SMABacktest'>Simple Moving Average LETF Backtesting Visualized (Python)</a></b></p>
            <img src="/static/smabacktest1.png" alt="SMA Backtest">
            <p>This project is a simple SMA backtesting tool that uses two stock tickers—one for generating signals and another for making simulated buy/sell decisions.</p>
          </div>

          <div class="project-card">
            <p><b><a href='/cloudlab'>Cloudlab/Homelab (Linux)</a></b></p>
            <img src="/static/cloudlab.png" alt="Cloudlab">
            <p>This project is a Cloudlab hosting my website, private git server, private cloud storage, and a couple of one-off services that I need once in a while.</p>
          </div>

        </div>
        <hr />

        <ul class='links'>
		  <li><p>Tutorials</p></li>
		</ul>
        <p>
            These are some tutorials that I have created. Quick start guides for tools that I have used.
		</p>
        <ul>
            <li><a href='/shred'>SHRED: Securely delete your data</a></li>
            <li><a href='/dnscryptproxy'>DNSCRYPT: Encrypt your DNS queries</a></li>
            <li><a href='/soon'>WIREGUARD: Have your own Virtual Private Network</a></li>
            <li><a href='/soon'>LIBREBOOT: Flash a custom BIOS</a></li>
        </ul>
		<hr />

        <ul class='links'>
          <li><p style="text-align:center; width:100%;"><b>EMAIL: bp [at] bpsite (dot) xyz</b></p></li>
          <li><p style="text-align:center; width:100%;"><b>GITHUB: github.com/BrandenPavon</b></p></li>
		</ul>

	</body>
</html>
