<!DOCTYPE html>
<html lang=en>
	<head>
	  <title>BP</title>
	  <link rel='stylesheet' type='text/css' href='/static/style.css'>
	  <meta charset='utf-8'>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>bpsite.xyz: Branden Pavon</h1>

		<hr />

		<ul class='links'>
		  <li><a href='/'>Home</a></li>
		  <li><a href='https://www.linkedin.com/in/branden-pavon-21a4702b3/'>Linkedin</a></li>
          <li><a href='https://github.com/BrandenPavon'>Github</a></li>
		  <li><a href='/portfolio'>Portfolio</a></li>
		  <li><a href='/contact'>Contact</a></li>
		</ul>

		<hr />
        <ul class='links'>
		  <li><p>Projects</p></li>
		</ul>

        <p><b>
            Cloudlab
        </b></p>
		<p>
          This project is a Cloudlab hosting my website, private git server, private cloud storage, and a couple of one-off services that I need once in a while. My private services are guarded through a Wireguard VPN. I prefer to use Debian Linux as my server Linux distribution for its simplicity, world wide usage, and stability that is required by servers everywhere. My Cloudlab makes my day go much smoother as I can access my services and experiment with those services on the go.
        </p>
        <img src="/static/cloudlab.png" style="max-width: 100%; height: auto;" alt="neofetch">
        <p><b>
            SMA Strategy Backtest with LETFs (<a href='https://smabacktest.bpsite.xyz'>Showcase</a>)
        </b></p>
        <p>
            <a href='https://github.com/BrandenPavon/SMABacktest'>This project</a> is a simple SMA (Simple Moving Average) backtesting tool that uses two stock tickers—one for generating signals and another for making simulated buy/sell decisions. You can customize the SMA window and set percentage-based buy/sell buffers to simulate a trading strategy. The program visualizes the results using graphs, showing how the SMA strategy performs compared to a basic buy-and-hold approach on the signal ticker. It factors in slippage and commission rates for more realistic results. The goal is to help users understand the effectiveness of SMA-based strategies with adjustable parameters.
        </p>
        <img src="/static/smabacktest1.png" style="max-width: 100%; height: auto;" alt="neofetch">
        <p><b>
            BlackScholes Option Pricing Implementation
        </b></p>
        <p>
            Soon!
        </p>
      <hr />
      <ul class='links'>
        <li><a href='/contact'>Contact</a></li>
      </ul>
	</body>
</html>
