<!DOCTYPE html>
<html lang=en>
	<head>
	  <title>FOSS</title>
	  <link rel='stylesheet' type='text/css' href='/static/style.css'>
	  <meta charset='utf-8'>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>bpsite.xyz</h1>

		<hr />

		<ul class='links'>
		  <li><a href='/'>Home</a></li>
		  <li><a href='/aboutme'>About Me</a></li>
		  <li><a href='/projects'>Projects</a></li>
		  <li><a href='/usefulinfo'>Useful Information</a></li>
		  <li><a href='/workout'>Work.o</a></li>
		</ul>

		<hr />
		<a href='/projects/kernel'>My OS</a>
		<a href='/projects/WM'>My Graphical Enviornment</a>
		<a href='/projects/tools'>My tools</a>
		<p>
			I self host a bunch of services I use daily like my own git server, cloud service, pastebin, etc. Most of my services are private for Operational Security reasons but some are open like my pastebin(sorry, only I can create pastes).	
		</p>
		
		<hr />

		<ul class='links'>
		  <li><a href='/contact'>Contact</a></li>
		</ul>

	</body>
</html>
