<!DOCTYPE html>
<html lang=en>
	<head>
	  <title>FOSS</title>
	  <link rel='stylesheet' type='text/css' href='/static/style.css'>
	  <meta charset='utf-8'>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>bpsite.xyz</h1>

		<hr />

		<ul class='links'>
		  <li><a href='/'>Home</a></li>
		  <li><a href='https://git.bpsite.xyz'>Personal Git Server</a></li>
		  <li><a href='/projects'>Projects</a></li>
		  <li><a href='/usefulinfo'>Useful Information</a></li>
		</ul>

		<hr />

		<p>
			Soon!	
		</p>

		<hr />

		<ul class='links'>
		  <li><a href='/contact'>Contact</a></li>
		</ul>

	</body>
</html>
